.pf-c-search-input.dps-list-view__search {
  margin-right: var(--pf-global--spacer--sm);
}

.pf-c-search-input__text-input {
  outline: none;
}

.pf-c-toolbar__item.dps-list-view__top-pagination {
  margin-left: auto;
}

.pf-c-toolbar__content.dps-list-view__filters {
  margin-top: calc(-1 * var(--pf-global--spacer--lg));
}

.pf-c-toolbar__item.dps-table-view-top-pagination {
  margin-left: auto;
}
