**/node_modules
**/dist
**/.eslintrc.js
**/rollup.config.js

# TODO(vojtech): node-typescript-prettier preset needs tweaking
/packages/lib-webpack/

# Monorepo's TypeScript stack is too old to lint this hip new(er) TypeScript code
/packages/lib-types/
